$lightGrey: #f2f0e9;
$grey: #d1c6af;
$purple: #9a0f4a;
$darkPurple: #3f0e40;
$pink: lightpink;

$theme-colors: (
  "primary": $purple,
  "danger": #ff4136
);

@import '../../node_modules/bootstrap/scss/bootstrap';
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

$regularFont: 'Open Sans', sans-serif;
$funnyFont: 'Mansalva', cursive;

$breakpointMobile: 480px;

body {
  font-family: $regularFont;
  background-image: url("/img/grapes.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  @media (max-device-width: $breakpointMobile) {
    background-image: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.font-awesome {
  font-family: FontAwesome;
}

//  COLORS
.dark-purple {
  color: $darkPurple;
}

.purple {
  color: $purple;
}

.pink {
  color: $pink;
}

.white {
  color: #f2e5cb;
}

//  SIZES
.xx-large {
  font-size: xx-large;
}

.pointer {
  cursor: pointer;
}

#form_dluo_day {
  display: none;
}


// FORMS
.checkbox-checked {
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px grey;
}

i {
  &.big-icon {
    font-size: 1.8rem;
  }
  &.huge-icon {
    font-size: 2.8rem;
  }
}

// FILTERS
.filters {
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .search-box {
    width: 200px;
  }
}
// TABLES
table {
  background-color: $lightGrey;
  & > tbody {
    & td:first-child::before {
        background-color: $purple !important;
    }
  }	
}

// OTHER
.wine-card {
  margin: 1rem;
  font-size: xx-large;
  background-color: $lightGrey;
}

.card-title {
  font-size: xx-large;
}

.login-card {
  width: 40%;
  @media (max-device-width: $breakpointMobile) {
    width: 80%;
    font-size: xx-large;
    .form-control {
      height: 4rem;
      font-size: xx-large;
    }
  }
  margin: 10% auto auto;
  background-color: $grey;
  border-radius: 6px;
  padding: 30px;
  .btn {
    @media (max-device-width: $breakpointMobile) {
      font-size: xx-large;
    }
  }
}

#navbar {
  @media (min-width: $breakpointMobile) {
    background-color: $grey;
  }

}