<div class="d-flex justify-content-between align-items-center xxx-large">
    <i class="fas fa-minus-square pointer" data-quantity="{{ wine.nbBottles }}" onclick="plusMinusBottle($(this), 0)"></i>
    <span class="badge badge-secondary m-2 xx-large">{{ wine.nbBottles }}</span>
    <i class="fas fa-plus-square pointer" data-quantity="{{ wine.nbBottles }}" onclick="plusMinusBottle($(this), 1)"></i>
</div>