 <div class="filters mb-4 mt-4 d-flex justify-content-around">

    <div class="form-group mb-0">
        <div class="filter ml-1">
            <label class="checkbox-color mb-0 p-2 pointer" data-value='rouge'>
                <i class='fas fa-wine-bottle purple big-icon'></i>
            </label>
        </div>
        <div class="filter ml-1">
            <label class="checkbox-color mb-0 p-2 pointer" data-value='blanc'>
                <i class='fas fa-wine-bottle white big-icon'></i>
            </label>
        </div>
        <div class="filter ml-1">
            <label class="checkbox-color mb-0 p-2 pointer" data-value='rosé'>
                <i class='fas fa-wine-bottle pink big-icon'></i>
            </label>
        </div>
    </div>
</div>
