{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-dark text-center" role="alert">
        <p>Votre inscription a bien été prise en compte, <span class="bold">{{ user.username }}</span>.</p>
        <p>Veuillez attendre que l'administrateur du site vous donne les autorisations d'accès.</p>
    </div>
{% endblock %}
