{% extends 'base.html.twig' %}

{% block body %}
	<div class="d-flex flex-column align-items-center justify-content-center h-100">
		<div class="btn btn-primary w-25 m-3 pointer">
			<span onclick="newWine()" data-toggle="modal" data-target="#modalNewBottle">
            	Ajouter une bouteille
            </span>
		</div>

		<div class="btn btn-primary w-25 m-3 pointer">
			<a href="/vins/liste/">Ma cave à vin ({{ nbBottles }} 
				<i class="fas fa-wine-bottle"></i>)
			</a>
		</div>

		<div class="btn btn-primary w-25 m-3 pointer">
			<a href="/vins/historique">Mes bouteilles bues</a>
		</div>

		<div class="btn btn-secondary w-25 m-3 pointer">
			<a href="/logout">Me déconnecter</a>
		</div>
	</div>

	{% include 'modalNewBottle.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}