{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">

    {% block navbar %}
    <div class="row justify-content-between" id="navbar">
{#        TODO CG Check desktop #}
    </div>

    {% include 'modalNewBottle.html.twig' %}
    {% include 'modalEditWine.html.twig' %}

    {% endblock %}

    {% block content %}
    {% endblock %}

</div>

{% endblock %}