{% extends 'layout.html.twig' %}

{% block content %}
	<div id="wines-content">
	    <div class="row mt-2">
	        <div class="col-12">
	            <table id="table_bottles" class="table table-striped table-bordered w-100"></table>
	        </div>
	    </div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/wines.js') }}"></script>
{% endblock %}
