{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-dark text-center" role="alert">
        <p>Vous n'avez pas accès à cette page.</p>
        <p>
            <a href="/vins/liste" class="btn btn-primary">Retour à la page d'accueil</a>
        </p>
    </div>
{% endblock %}